body{
    margin:0px;
    background-color: beige;
    color:black;
}
.theme.color{
    color:blueviolet;
}
.theme-bg{
    background-color: blueviolet;
}
.hv-5{
    height:5vh;
}
.hv-10{
    height:10vh;
}
.hv-20{
    height:20vh;
}
.hv-80{
    height:80vh;
}
.hv-90{
    height:90vh;
}
.hv-100{
    height:100vh;
}
.wv-10{
    width:10vw;
}
.wv-20{
    width:20vw;
}
.wv-80{
    width:80vw;
}
.wv-90{
    width:90vw;
}
.wv-100{
    width:100vw;
}
.flex{
    display:flex;
}
.flex-col{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-start{
    justify-content: start;
}
.justify-end{
    justify-content: end;
}