body {
    margin: 0;
    padding: 0;
  }
  
  .image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust as needed */
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  .text-overlay {
    text-align: center;
    color: #fff; /* Set the text color */
    z-index: 1; /* Ensure text is above the image */
    margin-top: 10px;
  }
  
  .text-overlay h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .text-overlay p {
    font-size: 1.2em;
    margin: 0;
  }
  